*{
    margin: 0;
    padding: 0;
}

 @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Varela&display=swap');

.account_bar{
    width: 100%;
    height: 20px;
    background-color: black;
    justify-content: right;
    display: flex;
    align-content: flex-end;
}

.text_right{
    margin-right: 10%;
}

.text_account_bar, .text_account_bar a{
    text-decoration: none;
    color: white;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-size: smaller;
    font-weight: bold;
}

.text_account_bar a:hover{
    text-decoration: underline white;
}

.main{
    width: 100%;
    height: 5000px;
    background-color: tomato;
}

.navigator{
    list-style-type: none;
    overflow: hidden;
    background-color: whitesmoke;
    width: 100%;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
}

.navigator li{
    float: right;
}

.navigator a {
    display: block;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    color: black;
}

.down{
    background-color: black;
    width: 100%;
    height: 250px;
    color:rgb(228, 228, 228);
    font-size: large;
    font-family: monospace;
    text-align: center;
}

.table{
    margin-left: auto;
    margin-right: auto;
}

.about_down{
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color:rgb(228, 228, 228);
    font-size: large;
    font-family: monospace;
    border-spacing: 25px;

}

.disclaimer{
    color: rgb(61, 14, 14);
    font-size: xx-small;
    font-style: italic;
}

.main{
    height: 1000px;
}

.dinozaur{
    height: 100%;
    width: 100%;
}

.logo{
    height: 75px;
    width: 125px;
}
 
