body, html, div, h1{
    padding: 0;
    margin: 0;
}

.menu{
    width: 100%;
    top: 0;
    position: fixed;
    display: block;
    float: top;
    padding-left:auto;
    padding-right:auto;
    
}

.tabel_menu{
    border-spacing: 10px;
    top: 0;
    z-index: -99;
    margin-left: auto;
    margin-right: auto;
}

.text_menu:link, .text_menu:visited{
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: white;
    
}

.about{
    
}

.about:hover, .about:hover .text_menu {
    color: cornflowerblue;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    transition: 0.3s;
}

.home{
    font-family: Candara;
}

.home:hover, .home:hover .text_menu {
    color: cornflowerblue;
    font-size: x-large;
    text-decoration: none;
    transition: 0.3s;
}

.shop{

}

.shop:hover, .shop:hover .text_menu{
    color: cornflowerblue;
    font-size: x-large;
    text-decoration: none;
    transition: 0.3s;
}

.down{
    background-color: black;
    width: 100%;
    height: 250px;
    color:rgb(228, 228, 228);
    font-size: large;
    font-family: monospace;
    text-align: center;
}

.table{
    margin-left: auto;
    margin-right: auto;
}

.about_down{
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color:rgb(228, 228, 228);
    font-size: large;
    font-family: monospace;
    border-spacing: 25px;
}

.disclaimer{
    color: rgb(61, 14, 14);
    font-size: xx-small;
    font-style: italic;
}

.main{
    height: 5000px;
}

.logo_menu_text{
    text-align: center;
    text-decoration: none;
    color: white;
}

.logo_text{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: 0.3s;
}

.logo_text:hover, .logo_text:hover .logo_menu_text{
    color: cornflowerblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    transition: 0.3s;
}

.FaQ{
    
}

.FaQ:hover, .FaQ:hover .text_menu{
    color: cornflowerblue;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    transition: 0.3s;
}

.dinozaur{
    height: 100%;
    width: 100%;
}

.logo{
    height: 75px;
    width: 125px;
}
 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-size: 10px;
}